.login-block {
  @media (max-width: $sm) {
    min-height: 100vh;
    padding: var(--gap-container) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
  &__row {
    --gap: 0;
    --gap-: 0;
    @media (max-width: $sm) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  &__col {
    &--content {
      flex: 1;
      @media (max-width: $sm) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    &--media {
      flex: 1;
      @media (max-width: $sm) {
        width: 0;
        max-width: 0;
        flex-basis: 0;
      }
    }
  }
  &__media {
    height: 100%;
    position: relative;
    @media (max-width: $sm) {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &:before {
      @media (max-width: $sm) {
        background: rgba($blackFullColor, .15);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transition: $transitionFast;
        z-index: 1;
      }
    }
  }
  &__hero {
    @extend %img-cover;
    height: 100%;
    user-select: none;
    pointer-events: none;
  }
  &__content {
    max-width: 598rem;
    min-height: calc(var(--vh, 1vh) * 100);
    margin: 0 12rem;
    padding-left: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $lg) {
      padding: 48rem 24rem;
    }
    @media (max-width: $sm) {
      background: $blackColor;
      max-width: 100%;
      min-height: 0;
      padding: 32rem 16rem;
      border-radius: $radiusSm;
    }
  }
  &__title {
    margin: 0 0 $rhythmLg8;
    font-weight: bold;
  }
  &__text {
    max-width: 492rem;
    margin: -28rem 0 $rhythmLg8;
    @media (max-width: $sm) {
      max-width: 90%;
    }
  }
  &__subtitle {
    margin: 0 0 $rhythmLg7;
  }
  &__form {
    &-input {
      margin: 0 0 $rhythmLg7;
    }
    &-btn {
      min-width: 220rem;
      margin: $rhythmLg7 0 0;
      display: flex;
      @media (max-width: $sm) {
        width: 100%;
      }
    }
    &-btn-restore {
      min-width: 220rem;
      margin: $rhythmLg8 0 0;
      display: flex;
      @media (max-width: $sm) {
        width: 100%;
      }
    }
    &-restore {
      margin: $rhythmLg7 0 0;
      text-align: right;
      @media (max-width: $sm) {
        font-size: var(--fs-6);
        text-align: left;
      }
      a {
        color: $accentColor;
        transition: $transition;
        &:hover {
          text-decoration: none;
          @media (min-width: $lg-mf) {
            color: $mediumGreyColor;
          }
        }
      }
    }
  }
  &__form + &__privacy {
    margin-top: 12rem;
  }
  &__form + &__privacy  + .login-block__footer {
    margin-top: 32rem;
  }
  &__privacy {
    margin: 0;
    color: $greyColor;
  }
  &__sc {
    margin-bottom: $rhythmLg7;
    &-btn {
      width: 100%;
      padding-right: 12rem;
      padding-left: 12rem;
      justify-content: flex-start;
      &:not(:last-child) {
        margin-bottom: $rhythmLg14;
      }
    }
  }
  &__footer {
    margin: $rhythmLg7 0 0;
    color: $greyColor;
    @media (max-width: $sm) {
      display: flex;
      flex-direction: column;
      font-size: var(--fs-8);
      row-gap: 4rem;
    }
    a {
      color: $accentColor;
      transition: $transition;
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $mediumGreyColor;
        }
      }
    }
  }
}