<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col footer__col footer__col--logo">
        <a href="/" class="logo logo--size-sm footer__logo">
          <picture class="logo__img">
            <img src="images/logo-white.svg" alt="AI Suno">
          </picture>
        </a>
      </div>
      <div class="row__col footer__col footer__col--nav">
        <nav role="navigation" class="footer__nav footer__nav--theme-white">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#features" class="footer__nav-link">Возможности</a>
            </li>
            <li class="footer__nav-item">
              <a href="#target-audience" class="footer__nav-link">Для кого</a>
            </li>
            <li class="footer__nav-item">
              <a href="#reviews" class="footer__nav-link">Отзывы</a>
            </li>
            <li class="footer__nav-item">
              <a href="#templates" class="footer__nav-link">Шаблоны</a>
            </li>
            <li class="footer__nav-item">
              <a href="#faq" class="footer__nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
        <div class="d-lg-block">
          <button data-modal="popup-registration" class="btn btn--size-lg btn--theme-accent btn--state-accent-simple-hover footer__btn-appeal">
            <span class="btn__inner">
              <span class="btn__title">Попробовать сейчас</span>
            </span>
          </button>
        </div>
        <nav role="navigation" class="footer__nav footer__nav--theme-grey">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="contacts.html" class="footer__nav-link">Контакты</a>
            </li>
            <li class="footer__nav-item">
              <a href="privacy.html" class="footer__nav-link">Политика конфиденциальности</a>
            </li>
            <li class="footer__nav-item">
              <a href="terms.html" class="footer__nav-link">Условия использования</a>
            </li>
            <li class="footer__nav-item">
              <a href="offer.html" class="footer__nav-link">Договор оферты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-lg-none row__col footer__col footer__col--action">
        <button data-modal="popup-registration" class="btn btn--size-lg btn--theme-accent btn--state-accent-simple-hover footer__btn-appeal">
          <span class="btn__inner">
            <span class="btn__title">Попробовать сейчас</span>
          </span>
        </button>
      </div>
    </div>
    <p class="footer__copyright">© 2024 Suna AI.&nbsp;<br class="d-sm-none">Все права защищены</p>
  </div>
</footer>