<header class="@@el header padding-y-24">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <a href="/" class="logo logo--size-md header__logo">
        <picture class="logo__img">
          <img src="images/logo-black.svg" alt="AI Suno">
        </picture>
      </a>
      <nav role="navigation" class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#features" class="header__nav-link">Возможности</a>
          </li>
          <li class="header__nav-item">
            <a href="#target-audience" class="header__nav-link">Для кого</a>
          </li>
          <li class="header__nav-item">
            <a href="#reviews" class="header__nav-link">Отзывы</a>
          </li>
          <li class="header__nav-item">
            <a href="#templates" class="header__nav-link">Шаблоны</a>
          </li>
          <li class="header__nav-item">
            <a href="#faq" class="header__nav-link">FAQ</a>
          </li>
        </ul>
      </nav>
      <div class="header__aside">
        <div class="d-md-block header__aside-top">
          <button type="button" class="js-header-toggle-close header__toggle">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#close"></use>
            </svg>
          </button>
          <a href="/" class="logo header__aside-logo">
            <picture class="logo__img">
              <img src="images/logo-white.svg" alt="AI Suno">
            </picture>
          </a>
          <p class="header__aside-title">Все нейросети в одном месте</p>
        </div>
        <div class="header__action">
          <div class="header__action-item">
            <a href="login.html" class="btn btn--size-md btn--theme-black header__action-btn">
              <span class="btn__inner">
                <span class="btn__title">Войти</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <button type="button" class="js-header-toggle-open d-md-block header__toggle">
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#menu-open"></use>
        </svg>
      </button>
    </div>
  </div>
</header>